<div class="ui bottom left pointing dropdown" suiDropdown>
    <a class="fate-aspect">{{aspect.name}}</a>
    <div class="ui basic blue small horizontal label" *ngIf="aspect.boost">
        Boost
    </div>
    <div class="ui blue small horizontal label" *ngIf="aspect.freeInvokes">
        {{aspect.freeInvokes}}
    </div>
    <div class="menu" suiDropdownMenu menuTransition="slide up">
        <div class="item">
            <div class="fate-action">
                <div>Invoke</div>
                <div class="ui blue tiny horizontal label"
                    *ngIf="aspect.freeInvokes">
                    Free
                </div>
                <div class="ui red tiny horizontal label"
                    *ngIf="!aspect.freeInvokes && aspect.boost">
                    Boost
                </div>
                <div class="ui basic tiny horizontal label"
                    *ngIf="!aspect.freeInvokes && !aspect.boost">
                    FP
                </div>
            </div>
        </div>
        <div class="item">
            Add Free Invoke
        </div>
    </div>
</div>

