.fate-sheet-wrapper {
    position: relative;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fate-aspect {
    display: inline-block;
    margin-right: 0.5em;
}

.fate-action {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-width: 150px;
}

.fate-action .label {
    margin-right: 0;
}

.fate-skill {
    display: flex;
    align-items: center;
}

.fate-skill-adjective {
    margin-bottom: 0 !important;
}

.fate-skill-rank {
    padding-right: 1ex;
}

.fate-stress-track {
    padding-top: 0.25em;
}

.fate-consequence {
    display: flex;
    align-items: center;
}

.fate-empty-consequence {
    font-style: italic;
    color: gray;
}
