<div id="fate-toolbar" class="ui bottom fixed menu">
    <div class="ui bottom pointing dropdown item" suiDropdown>
        <span class="text">Hello Hello Hello</span>
        <div class="menu" suiDropdownMenu menuTransition="slide up">
            <div class="ui icon search input">
                <i class="search icon"></i>
                <input placeholder="Search tags..." type="text">
            </div>
            <div class="scrolling menu">
                <div class="item" *ngFor="let character of characters">
                    <fate-menu-item [character]="character"></fate-menu-item>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        World World World
    </div>
</div>
