:host {
    cursor: pointer;
}

#name-text {
    fill: black;
    font-size: 6px;
    font-weight: bold;
}

#concept-text {
    fill: black;
    font-size: 5px;
}

.fate-text {
    dominant-baseline: middle;
    paint-order: stroke;
    stroke: white;
    stroke-linejoin: round;
    stroke-width: 4px;
    vector-effect: non-scaling-stroke;
}

#portrait-cover {
    fill: white;
}

