<sui-sidebar-container>
    <sui-sidebar class="inverted vertical" [isVisible]="sidebarOpen$ | async" transition="slide along">
        <router-outlet name="sidebar"></router-outlet>
    </sui-sidebar>
    <sui-sidebar-sibling class="fate-app-pusher" [isDimmedWhenVisible]="true">
        <div class="fate-app-wrapper">
            <button class="ui black right attached left floated icon button fate-menu-button"
                    title="Open Sidebar"
                    [class.active]="sidebarOpen$ | async" (click)="onMenuClick()">
                <i class="sidebar icon"></i>
            </button>
            <div class="ui container fate-app-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </sui-sidebar-sibling>
</sui-sidebar-container>

