/*
.fate-app-pusher {
    height: 100vh;
    overflow-y: auto;
    overflow-x: initial;
}

.fate-app-wrapper {
    height: 100vh;
    background: white;
}
*/

.fate-app-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ui.attached.button.fate-menu-button {
    position: fixed;
    top: 40px;
    z-index: 10;
}
